{% extends 'layout/dashboard-layout.html' %}

{% block content %}




<div class="card">








    
    <div class="card-header">
        <div class="row">
            <div class="col-md-10">
                <h1>Employee</h1>
            </div>
            <div class="col-md-2">
                <a href="{% url 'employee:employee-create' %}" class="btn btn-success"><i class="fas fa-plus"></i> Add Employee</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <form action="{% url 'employee:employee-search' %}" method="GET" id="form1">
                    <input type="text" placeholder="Search Employee ID" name="search" id="search"
                        class="form-control col-xs-3">
                </form>
            </div>
            <div class="col-md-2 ">
                <button value="Submit" id="btn1" onclick="SearchVal();" class="btn btn-link"><i
                        class="fas fa-search "></i></button>
            </div>
            <div class="col-md-2">
                <a href="{% url 'employee:employee-report' %}" role="button"
            class="btn  edit-btn float-left" style="padding: 0 0 0 0"><i
                 class="fa fa-download fa-lg"></i>&nbsp;Print Report</a>
            </div>
        </div>
    </div></br>

    <div class="card-body">

        <table class="table table-sm">
            <tr><div class="alert alert-danger" style="display: none;" id="hd1">
                <strong>Deleted!</strong> This record has been deleted.
              </div></tr>
            <thead>
                <tr>
                    <th scope="col">Employee Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Occupation</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                {% for object in object_list %}
                <tr>
                    <th scope="row">{{ object.emp_id }}</th>
                    <th scope="row">{{ object.first_name }}</th>
                    <th scope="row">{{ object.last_name }}</th>
                    <th scope="row">{{ object.email }}</th>
                    <th scope="row">{{ object.contact }}</th>
                    <th scope="row">{{ object.occupation }}</th>
                    <th scope="row"><a href="{% url 'employee:employee-update' object.id %}" role="button" class="btn  edit-btn btn-warning"><i class="fas fa-edit fa-lg"></i>Update</a></th>
                    <th scope="row">
                        <form action="{% url 'employee:employee-delete' object.id %}" method="post" id="frm2" >
                            {% csrf_token %}
                            <button class="btn delete-btn  btn-danger" onclick="return confirm('Please confirm to delete this recod.')"  type="submit"><i
                                    class="far fa-trash-alt m-1" ></i> Delete
                            </button>

                        </form>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function SearchVal() {
        var val = document.getElementById('search').value;
        if (/[^E0-9]/.test(val)) {
            alert('Can only contain "E" character ID.');
            document.getElementById('search').value = null;
        return false;
            
        }else if( val.length  < 4 && val.length != 0){ 
                alert("Name should be  more than 3 characters.");
                return false;
        }else if( val.charAt(1)  != 0 || val.charAt(2)  != 0){ 
                    alert("ID should be  start with 'E00' characters.");
                    return false;
        
        }else
            document.getElementById("form1").submit();
            return (true);
        }
</script>




{% endblock %}


{% block model %}

{% endblock %}