{% extends 'layout/dashboard-layout.html' %}

{% block content %}

    <form action="" method="post" class="requires-validation" novalidate>
       {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <a style="color: #412885" href="{% url 'items:items-list' %}"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
            </br>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="item_name" aria-describedby="item_name" placeholder="Item Name" name="item_name" value="{{ object.item_name }}" required>
                        <div class="valid-feedback">
                            looks good!
                         </div>
                         <div class="invalid-feedback">
                            Item Name is required!
                         </div>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Default select example" onchange="myFunction(event)">
                            <option value="" hidden>Please Select the Category</option>
                            <option value="Electric">Electric</option>
                            <option value="Furniture">Furniture</option>
                            <option value="Other">Other</option>
                          </select>
                          <input type="hidden" class="form-control" id="category" aria-describedby="category" placeholder="Category" name="category" value="{{ object.category }}">
                          <div class="valid-feedback">
                            looks good!
                         </div>
                         <div class="invalid-feedback">
                            Select field
                         </div>
                        </div>
                </div>
            </br>
            <div class="row">
                <div class="col">
                    <input type="number" class="form-control" id="quantity" aria-describedby="quantity" placeholder="Quantity" name="quantity" value="{{ object.quantity }}" required>
                    <div class="valid-feedback">
                        looks good!
                     </div>
                     <div class="invalid-feedback">
                        Quantity is required
                     </div>
                </div>
                <div class="col">
                    <input type="number" class="form-control" id="unit_price" aria-describedby="unit_price" placeholder="unit Price" name="unit_price" value="{{ object.unit_price }}" required>
                    <div class="valid-feedback">
                        looks good!
                     </div>
                     <div class="invalid-feedback">
                        unit Price is required
                     </div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="col">
                    <div class="row">
                        
                    <div class="col">
                        <button class="btn btn-danger" style="float: right;">Reset</button>

                    </div>
                    <div class="col">
                        <button class="btn btn-success">Save</button>
                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        function myFunction(e) {
        document.getElementById("category").value = e.target.value
}
    </script>
        <script>
            (function () {
            'use strict'
            const forms = document.querySelectorAll('.requires-validation')
            Array.from(forms)
              .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
              
                  form.classList.add('was-validated')
                }, false)
              })
            })()
                </script>


{% endblock %}
{% block model %}
{% endblock %}