{% extends 'layout/base-layout.html' %}
{% load static %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar">
            <img src="{% static 'img/store.png' %}" alt="logo" width="30" height="50" style="margin-bottom: 10px">
            <h5>MY SHOP</h5>
            <ul>
                <li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-users"></i>
                        <a  type="button" id="hr" onclick="drp('hrd')"></i>
                            Human Resource
                        </a>
                        <div id="hrd" style="display: none;"></br>
                          <a class="dropdown-item" href="#">Employee</a>
                          <a class="dropdown-item" href="#">Salary</a>
                        </div>

                </li>
                <li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-search-dollar"></i>
                    <a type="button" id="snm" onclick="drp('snmd')">Sales & Marketing</a>
                    <div id="snmd" style="display: none;"></br>
                      <a class="dropdown-item" href="{% url 'sales:sales-list' %}">Sales</a>
                      <a class="dropdown-item" href="{% url 'purchase:purchase-list' %}">Purchase</a>
                    </div>
                
                </li>
                <li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fas fa-hand-holding-usd"></i>
                    <a href=""></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finance</a></li>
                <li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-hotel"></i>
                    <a type="button" id="inv" onclick="drp('invd')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inventory</a>
                    <div id="invd" style="display: none;"></br>
                      <a class="dropdown-item" href="#">Items</a>
                      <a class="dropdown-item" href="#">Suppliers</a>
                    </div>
                
                </li>
                <li><a href=""><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>

        </div>
        <div class="main_content">
            <div class="info">
                <div class="container-fluid">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script>
        function drp(x){
            if(document.getElementById(x).style.display == "none"){
                document.getElementById(x).style.display = "block";
            }else{
                
            document.getElementById(x).style.display = "none";
            }
        }
    </script>



{% endblock %}