{% extends 'layout/base-layout.html' %}
{% load static %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar">
            <img src="{% static 'img/store.png' %}" alt="logo" width="50" height="70" style="margin-bottom: 10px">
            <h5>MY SHOP</h5>
            <ul>
                <li>
                    <a data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
                       aria-controls="collapseExample"><i class="fas fa-users"></i>Human Resource</a>
                    <div class="collapse" id="collapseExample1">
                        <div class="container mt-3 ">
                            <div class="mb-4 border-bottom "><a href=""
                                                                class="ms-2"> Employee</a></div>
                            <div class="mb-4 border-bottom"><a href="" class="ms-2">Salary </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
                       aria-controls="collapseExample"><i class="fas fa-search-dollar"></i>Sales & Marketing</a>
                    <div class="collapse" id="collapseExample2">
                        <div class="container mt-3 ">
                            <div class="mb-4 border-bottom "><a href="{% url 'sales:sales-list' %}"
                                                                class="ms-2"> Sales</a></div>
                            <div class="mb-4 border-bottom"><a href="{% url 'purchase:purchase-list' %}" class="ms-2">Purchase</a>
                            </div>

                        </div>
                    </div>
                </li>
                <li>
                    <a data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
                       aria-controls="collapseExample"><i class="fas fa-hand-holding-usd"></i>Finance</a>
                    <div class="collapse" id="collapseExample3">
                        <div class="container mt-3 ">
                            <div class="mb-4 border-bottom "><a href="{% url 'transaction:transaction-list' %}"
                                                                class="ms-2"> Transaction</a></div>
                            <div class="mb-4 border-bottom"><a href="{% url 'account:account-list' %}" class="ms-2">Account </a>
                            </div>
                            <div class="mb-4 border-bottom"><a href="{% url 'balance_sheet:balance_sheet-list' %}"
                                                               class="ms-2">Balance sheet</a></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false"
                       aria-controls="collapseExample"><i class="fas fa-hotel"></i>Inventory</a>
                    <div class="collapse" id="collapseExample4">
                        <div class="container mt-3 ">
                            <div class="mb-4 border-bottom "><a href="{% url 'items:items-list' %}"
                                                                class="ms-2"> Items</a></div>
                            <div class="mb-4 border-bottom"><a href="{% url 'supplier:supplier-list' %}" class="ms-2">Suppliers </a>
                            </div>

                        </div>
                    </div>
                </li>
                <li><a href=""><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>

        </div>
        <div class="main_content">
            <div class="info">
                <div class="container-fluid">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}